<%- include('header') -%> 

<h1 style="text-align: center; color: black; font-size: 3em">About Me Page</h1>
<p>I'm Abdallah Bakr. from Egypt. i studed Architecture and now i am starting to study programing</p>

<%- include('footer') -%> 